@import './base.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}
menu, ol, ul {
  list-style: none
}


.search img{
  height: 14px;
  width: 15px;
  margin: 0 0 0 -3vw;
}
nav img{
  margin: 0.5vw 0 0 0 ;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 0.5vw;
}
nav ul{
  display:flex ;
  cursor: pointer;
}
nav ul li{
  margin: 1vw 1.5vw 0 1.5vw;
  color: #7B7881;
}
nav div input{
  width: 24vw;
  height: 1.8vw;
  margin: 0.5vw;
}
hr{
  border: 1px solid #27AE60
}
nav a{
  text-decoration: none;
  color: #7B7881;
}
nav button{
  background-color: white;
  border: none;
}
nav input{
  background-color: #F1F1F1;
  border-radius: 3px;
  color:  #7B7881;
  border: none;
}
.linha-vertical {
  height: 20px;
  width: 1.2px;
  background-color: #27AE60;
  margin: 18px 0 ;
}
nav a{
  color: #7B7881;
}
p {
  font-family: Inter;
}
h1 {
  font-family: Inter;
}
h2{
  font-family: Inter;
}
h3{
  font-family: Inter;
}
button{
  font-family: Inter;
}
a{
  font-family: Inter;
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    margin: 2vw 0;
  }

  nav img {
    margin: 2rem 1rem;
    width: 140px;
    height: auto;

  }

  nav ul {
    width: 100%;
    flex-wrap: wrap;
  }
    nav .ajuste1{
      display: flex;
      margin: 0 6.5rem;
    }
    nav .ajuste2{
      display: flex;
      margin: 0 17rem;
    }

  nav ul li {
    margin: 2rem 1.8rem;
    font-size: 1.4rem;
  }

  nav div input {
    width: 50vw;
    height: 36px;
    margin: 1rem 0;
    font-size: 1rem;
  }

  .search img {
    margin: 1rem 0 0 0;
    right: 10%;
    top: 60%;
  }

  .linha-vertical {
    display: none;
  }

  nav button {
    margin: 1rem 0;
  }
}
