@import './base.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}
menu, ol, ul {
  list-style: none
}


.search img{
  height: 14px;
  width: 15px;
  margin: 0 0 0 -3vw;
}
nav img{
  margin: 0.5vw 0 0 0 ;
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 0.5vw;
}
nav ul{
  display:flex ;
}
nav ul li{
  margin: 1vw 1.5vw 0 1.5vw;
}
nav div input{
  width: 24vw;
  height: 1.8vw;
  margin: 0.5vw;
}
hr{
  border: 1px solid #27AE60
}
nav a{
  text-decoration: none;
  color: inherit;
}
nav button{
  background-color: white;
  border: none;
}
nav input{
  background-color: #F1F1F1;
  border-radius: 3px;
  color:  #7B7881;
  border: none;
}
.linha-vertical {
  height: 20px;
  width: 1.2px;
  background-color: #27AE60;
  margin: 18px 0 ;
}
nav a{
  color: #7B7881;
}
